/*  General stuff
  colors:
gray behind logo: #929497;
White: #FFFFFF;
mint backgroundcolor: #fffef6;
lemon backgroundcolor: #fdf9d1;
caramel backgroundcolor: #ffeaba;
blue button color: #CADBEA;

  Fonts:
        BC Alphapipe Regular
font-family: "bc-alphapipe", sans-serif;
font-weight: 400;
font-style: normal;

        BC Alphapipe Italic
font-family: "bc-alphapipe", sans-serif;
font-weight: 400;
font-style: italic;

        BC Alphapipe Bold
font-family: "bc-alphapipe", sans-serif;
font-weight: 700;
font-style: normal;
*/

        /*Hero group section*/
.homeHeroContain{width:100%;}

.heroImg{
  margin:auto;
  text-align: center;}

.heroImg img{width:50%;}

        /*Flavors section*/
.diffHFlavorsContain{
  width:100%;
  margin:auto;
  padding-top:10px;
  padding-bottom:10px;}  

.hFlavorsText{
  font-family: "bc-alphapipe",sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:20px;
  text-align:center;
  padding-bottom:10px;}

.ingHContain{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  align-content:center;
  text-align:center;
  flex-direction:row;}

.mintHGroup{
  width:33%;
  background-color:#fffef6;}

.lemonHGroup{
  width:33%;
  background-color:#fdf9d1;}

.caramelHGroup{
  width:33%;
  background-color:#ffeaba;}

        /*Button styling*/
.btnContain{padding-top:10px;}

.cool-button {
  font-size: 20px;
  background-color:#FFFFFF;
  color: #CADBEA;
  border: 3px solid #CADBEA;
  padding: 10px 30px;
  font-family: "bc-alphapipe", sans-serif;
  font-weight: 700;
  font-style: normal;
  box-shadow: -3px 4px 0px 0px #CADBEA;
  transition: transform 0.1s ease, box-shadow 0.1s ease;}

.cool-button:hover {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px 0px #CADBEA;}

.cool-button:active {
  outline: none;
  color: white;
  background-color:#CADBEA;}

.cool-button:focus {outline: none;}


        /*gallery section*/
.galleryTextContain{ font-family:"bc-alphapipe",sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;}

.hReviewsHeading{
  padding-top:10px;
  padding-bottom:10px;}

.reviewsBtnHome{
  padding-top:10px;
  padding-bottom:10px;}

              /*TABLET*/
@media screen and (min-width:600px) and (max-width: 900px) {
body{}

     /*Hero group section*/
.homeHeroContain{width:100%;}

.heroImg img{
  margin:auto;
  text-align:center;
  width:100%;}

        /*Flavors section*/
.diffHFlavorsContain{
  width:100%;
  margin:auto;
  padding-top:10px;
  padding-bottom:10px;}  

.hFlavorsText{font-size:18px;}

.ingHContain{flex-direction:column;}

.mintHGroup{width:100%;}

.lemonHGroup{width:100%;}

.caramelHGroup{width:100%;}

.galleryTextContain{font-size:18px;}


}

                  /*MOBILE*/
 @media screen and (max-width:/*570px*/574px){

     /*Hero group section*/
.homeHeroContain{width:100%;}

.heroImg{
  margin:auto;
  text-align:center;
  width:100%;}

.heroImg img{width:100%;}

        /*Flavors section*/
.diffHFlavorsContain{
  width:100%;
  margin:auto;
  padding-top:10px;
  padding-bottom:10px;}  

.hFlavorsText{font-size:18px;}

.ingHContain{flex-direction:column;}

.mintHGroup{width:100%;}

.lemonHGroup{width:100%;}

.caramelHGroup{width:100%;}

.galleryTextContain{font-size:18px;}
 }
